^{:open-url false
  :watch-dirs       ["src/main/clojure" "src/test/clojure" "src/test/cljsenv"]
  :css-dirs         ["resources"]
  ;;:log-level :debug
  :ring-server-options {:port 9560}
  :extra-main-files {:testing {:main clara.test-runner}}}
{:main clara.app
 :output-to "dev-resources/public/js/compiled/app.js"
 :output-dir "dev-resources/public/js/compiled/dev"
 :asset-path "js/compiled/dev"
 :infer-externs true
 :npm-deps false
 :optimizations :none}
